name: Build Cassette macOS (Nuitka)

on:
  workflow_dispatch:

jobs:
  build-macos:
    name: Build for ${{ matrix.artifact_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-15 # Intel
            artifact_name: macos-intel
          - os: macos-latest # Apple Silicon (M1/M2/M3)
            artifact_name: macos-silicon

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install Build Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install wheel setuptools numpy nuitka ordered-set zstandard

      - name: Build and Install aubio
        run: |
          git clone https://github.com/aubio/aubio.git
          cd aubio
          python setup.py bdist_wheel
          pip install dist/*.whl
          cd ..

      - name: Install Project Dependencies
        run: |
          # Установка всех необходимых модулей для корректного анализа Nuitka
          pip install pygame PyQt5 loguru requests soundfile sounddevice PyOpenGL mutagen av

      - name: Remove a file and fix permissions
        run: |
          rm -f System/ADB/CassetteReceiver.apk System/ADB/adb-linux System/ADB/adb.exe System/ADB/AdbWinApi.dll System/ADB/AdbWinUsbApi.dll
          
          # Очищаем атрибуты и правим права
          sudo chown -R $USER .
          chmod -R 777 .
          xattr -cr . 
          
          chmod 755 System/ADB/adb-macos
          ls -la System/ADB/
      - name: Fix permissions
        run: |
          chmod -R u+rwX,go+rX,go-w build || true
      - name: Build macOS App with Nuitka
        uses: Nuitka/Nuitka-Action@main
        with:
          nuitka-version: main
          script-name: Cassette.py
          # Используем 'onefile' как основной режим
          mode: app
          output-dir: output
          
          # Плагины
          enable-plugins: |
            pyqt5
            numpy
            
          # Данные и зависимости
          include-raw-dir: |
            System=System
          include-data-files: |
            version=.
          include-package: |
            av
            OpenGL
          
          # Настройки macOS (согласно списку валидных входов)
          macos-app-mode: gui
          macos-app-icon: System/Icons/Icon256.icns
          
          # Отключение консоли
          disable-console: true
          show-progress: true
          
          # Если экшен все равно капризничает, можно добавить прямые аргументы:
          # (Но сначала попробуйте без этого блока)
          module-parameter: |
            --macos-create-app-bundle
            --macos-disable-signature

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Cassette-${{ matrix.artifact_name }}
          path: build/*.app
          include-hidden-files: true